@using SGL.Models;
@{
    usuario usuario = ViewBag.usuario;
    string nombres = usuario.nombres + " " + usuario.apellidos;
    string tipo_usuario = usuario.tipoUsuario;

}

<div class="container-fluid">

    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-briefcase"></i>
            Resumen
        </div>
        <div class="card-body">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/images/user-icon.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@nombres</h5>
                    <p class="card-text">Tipo de usuario: @tipo_usuario</p>
                </div>
            </div>

        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Historial de registros
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Documento</th>
                            <th>Tipo</th>
                            <th>Modificación</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (edicion ed in ViewBag.lista_ediciones)
                            {
                                <tr>
                                    <td>@ed.codUsuario</td>
                                    <td>@ed.codDoc</td>
                                    <td>@ed.tipoDoc</td>
                                    <td>@ed.modificacion</td>
                                    <td>@ed.fecha.ToString().Substring(0, 11)</td>
                                    <td>@ed.hora.ToString().Substring(0, 8)</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Actualizado ayer a las 5:00 PM</div>
    </div>
</div>